{{ caddy.server_name }} {

    root * /usr/share/lava-server/static/lava_server/

    reverse_proxy localhost:8000 

    @websockets {
        header Connection *Upgrade*
        header Upgrade websocket
    }

    reverse_proxy /ws/* @websockets localhost:8001
}
